// overwrite theme variables

//quick test,

$primary: #6d5c5a;
$secondary: #D4C75B;
$success: #8de814;
$info: #79B361;

$mcgowanscolor: #8de814;

.card {
  background-color: red
}



@import '~bootstrap/scss/bootstrap';
